APP_NAME="NBSM"
APP_ENV=local
APP_KEY=base64:Sttnsb9Z8w1P6UIR23uktO8v1xNK01IIm05ohsohJLw=
APP_DEBUG=false
APP_URL=https://nbsm.com.np

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sendmail
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=465
MAIL_USERNAME=mail@nbsm.com.np
MAIL_PASSWORD=JDR0OFAhP&?^
MAIL_ENCRYPTION=ssl
REVIEW_SUBJECT = "RFP Document"
MESSAGE_ORDER = "NBSM - Contact Message"  

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


APP_KEYWORDS="NBSM"
APP_DESCRIPTION="NBSM is a leading Accounting Firm of Nepal offering a wide range of services in the field of Audit, Risk Advisory, Tax Advisory, M&A Advisory and Managed Services for National and Multinational Companies of all sizes."

BANNER_WIDTH=
BANNER_HEIGHT=

#GALLERY IMAGE DIMENSION

GALLERY_IMAGE_LARGE_WIDTH=
GALLERY_IMAGE_LARGE_HEIGHT=

GALLERY_IMAGE_MEDIUM_WIDTH=
GALLERY_IMAGE_MEDIUM_HEIGHT=

GALLERY_IMAGE_THUMB_WIDTH=
GALLERY_IMAGE_THUMB_HEIGHT=

##### PRODUCT IMAGE DIMENSION #####

PRODUCT_IMAGE_WIDTH=
PRODUCT_IMAGE_HEIGHT=

PRODUCT_IMAGE_THUMB_WIDTH=
PRODUCT_IMAGE_THUMB_HEIGHT=

########## ########

EX_LARGE_WIDTH =
EX_LARGE_HEIGHT =

LARGE_WIDTH =
LARGE_HEIGHT =

MEDIUM_WIDTH=900
MEDIUM_HEIGHT=500

SMALL_WIDTH =
SMALL_HEIGHT =

THUMBNAIL_WIDTH =
THUMBNAIL_HEIGHT =

## Live
# SITE_KEY=6Lc_O7YaAAAAAPmpBr7DFTGoawMv9VieKsBVrx7f
# SECRET_KEY=6Lc_O7YaAAAAAN6kEzXAUs3OE2y-NDV6rRRFrmJ3

## Localhost
SITE_KEY=6Le3hGgqAAAAAOgJVhFfjnTwe8dM00RGnWz1m7Hp
SECRET_KEY=6Le3hGgqAAAAAOED9SmQkEv9STdbZsF-ceORqMQ2